:root {
    --main-color: #00001B;
}

@font-face {
    font-family: T-Harry;
    src: url(/geral/HARRYP__.TTF);
}

.header__container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: var(--main-color);
    color: white;

    h1 {
        margin-top: 20px;
        font-size: 2rem;
        text-align: center;
        color: #E0AE1B;
    }

    p {
        font-size: 0.8rem;
        text-align: center;
    }

    nav > ul {
        display: flex;
        gap: 3px;
        background-color: #01014d;
        border-radius: 20px;
        margin: 10px 3px;
        list-style: none;

        li {
            padding: 8px 10px;

            a {
                text-decoration: none;
                color: white;
            }
        }

        li:hover {
            background-color: #E0AE1B;
            border-radius: 10px;
        }
    }
}

.intro__banner {
    display: flex;
    flex-direction: column;
    height: 81vh;
    background: url(/geral/casas.webp) no-repeat;
    background-position: center center;
    background-size: cover;

    h2 {
        text-align: center;
        font-size: 3rem;
    }

    p {
        margin-top: 450px;
        text-align: center;
        font-size: 1.5rem;
    }
}