:root {
    --main-color: #00001B;
}

@font-face {
    font-family: T-Harry;
    src: url(/geral/HARRYP__.TTF);
}

@font-face {
    font-family: Mont;
    src: url(/geral/Montserrat/Montserrat-VariableFont_wght.ttf);
}

.header__container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: var(--main-color);
    color: white;

    h1 {
        width: max-content;
        margin: 0 auto;
        margin-top: 40px;
        padding: 20px 25px;
        border-radius: 40px;
        background-color: #01014d;
        font-size: 2rem;
        text-align: center;
        color: #E0AE1B;
    }

    p {
        font-size: 0.8rem;
        margin: 0 50px;
        text-align: center;
    }

    nav > ul {
        display: flex;
        gap: 3px;
        background-color: #01014d;
        border-radius: 20px;
        margin: 10px 3px;
        list-style: none;

        li {
            padding: 8px 10px;
            font-size: 0.78rem;
            font-weight: bolder;

            a {
                text-decoration: none;
                color: white;
            }
        }

        li:hover {
            background-color: #E0AE1B;
            border-radius: 10px;
        }
    }
}

.intro__banner {
    display: flex;
    flex-direction: column;
    height: 81vh;
    background: url(/geral/casas.webp) no-repeat;
    background-position: center center;
    background-size: cover;

    h2 {
        margin-top: 30px;
        text-align: center;
        font-size: 3rem;
    }

    p {
        margin: 400px 45px 0 45px;
        text-align: center;
        font-size: 1.5rem;
    }

    a {
        display: none;
    }
}

.section__content {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: var(--main-color);
    color: white;

    h2 {
        margin-top: 40px;
        margin-bottom: 20px;
        color: #E0AE1B;
        font-size: 3rem;
    }

    .about__grid {
        margin-top: 20px;
    }


    h3 {
        margin-top: 20px;
        margin-bottom: 10px;
        color: #e0cc91;
    }

    p {
        margin: 0 40px;
    }

    .about__description {
        margin-bottom: 40px;
    }
}

.section--gallery {
    background-color: var(--main-color);
    
    h2 {
        text-align: center;
        font-size: 3rem;
    }
}